{
	"plugins": [
		"prettier-plugin-tailwindcss"
	],
	"printWidth": 150,
	"tabWidth": 6,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"bracketSameLine": false,
	"arrowParens": "always",
	"singleAttributePerLine": false,
	"requirePragma": false,
	"spaceBeforeFunctionParen": true
}